/* Globals */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fffff;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
button: {
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
}
/* End of globals */

/* Forms */
.reg {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  padding: 10px;
}

.reg-form {
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid;
  border-radius: 5px;
  margin: auto;
  background-color: whitewheat;
  /* box-shadow: 10px 10px 5px 0px rgba(242, 98, 14, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(242, 98, 14, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(242, 98, 14, 0.75); */
}

.page-svg {
  text-align: center;
  position: relative;
  margin: auto;
}

img.avatar {
  margin-top: 0.5em;
  border: 50%;
  width: 20%;
}

.input-entry {
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.input-field {
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
}
.input-error {
  margin-top: 1px;
  margin-bottom: 1px;
  color: red;
  font-size: small;
  font-style: italic;
}
.form-btn {
  border-radius: 4px;
  background-color: rgb(10, 25, 41);
  color: white;
  text-transform: capitalize;
  padding: 5px;
  width: 100%;
  margin-top: 2px;
  cursor: pointer;
}

.input-link {
  color: black;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}
.input-link span {
  font-size: small;
}
.input-redirect {
  color: black;
  font-style: italic;
  font-size: small;
}
.form-title {
  text-align: center;
  color: black;
}
/* End of forms */

/* Sidenav and Main content */
.main {
  display: flex;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 5px;
  text-align: center;
  align-content: center;
  padding: 1rem;
}
.nav-button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: rgb(10, 25, 41);
  color: #b2bac2;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}
.home {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
/* End of Main */

/* Styling tables */
.table-responsive {
  overflow-x: auto;
}
.styled-table {
  /* border-collapse: collapse; */
  border: thin solid;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table {
  margin: auto;
}
caption {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
th {
  border: thin solid;
  background-color: rgb(10, 25, 41);
  color: white;
  font-family: "Poppins", sans-serif;
}
td {
  border: thin solid;
  font-family: "Poppins", sans-serif;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* Modal */
.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 300px;
  height: auto;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.update-input-entry {
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.update-input-field {
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
}

/* Profile Page */
.greeting {
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
  background-color: #edf2f7;
  margin-bottom: 1em;
}

.greeting-title {
  margin-bottom: 0.5em;
}

.greeting-passage {
  margin-bottom: 0.5em;
}
.profile-edit-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile-card {
  background-color: #edf2f7;
  margin: auto;
  padding: 1em;
}
.profile-card-title {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.profile-card-body {
  margin: auto;
}
.profile-card-form {
  margin: auto;
}
.profile-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.form-row-input {
  padding-left: 8px;
  border: none;
  padding: 0.75em;
  border-radius: 5px;
}
.form-row-input:focus {
  outline: none;
}

.profile-edit-button {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.delete-nav-button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  background-color: red;
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}
/* End of profile */
